  <footer class="container-fluid p-2 pt-md-5 px-md-5 pb-md-3">
    <div class="row">
      <div class="col contacto">
        <h4>contacto</h4>
        <span>1140668339</span><br>
        <a href="mailto: acortes0702@gmail.com">acortes0702@gmail.com</a>
      </div>
      <div class="col social">
        <h4>social</h4>
        <a href="https://www.instagram.com/logicamenteana/" target="_blank">instagram</a><br>
        <a href="https://pin.it/2XyapBQ" target="_blank">pinterest</a>
      </div>
    </div>
    <div class="copyright pt-2 pt-md-4">Copyright © 2021 - Ana Cortés y Iara Antón Braier</div>
  </footer>